.list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: -8px;

  font-size: 20px;
  color: #fff;
}

.item {
  margin: 8px;
  width: 230px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.img {
  width: 230px;
  height: 300px;
  object-fit: cover;
}

.text {
  color: #fff;
  height: 66px;
  padding: 10px;
  background-color: rgba(58, 125, 135, 0.7);
}
