$description-text-color: #212121;
$primary-color: rgba(58, 125, 135, 0.7);
$secondary-color: #3a7d87;
$info-text-color: rgb(68, 67, 67);
$white-color: #fffff0;
$black-color: #000;
$elements-color: #6fe2ec;

$box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
