.wrapper-info {
  margin-bottom: 20px;
}
.additional {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
  text-align: center;
}

.additional-item {
  width: 70px;
  margin: 5px;
}

.additional-img {
  width: 150px;
}

.additional-name {
  color: rgba(58, 125, 135, 0.7);
  font-size: 12px;
}
