.review-item {
  margin-bottom: 15px;
}

.review-name {
  margin-bottom: 10px;
  color: rgba(58, 125, 135, 0.7);
  font-size: 20px;
}

.review-content {
  color: rgb(68, 67, 67);
  font-size: 20px;
  font-weight: normal;
}
