@import '../../sass/main.scss';

.searchForm {
  @include flex-wrap;

  max-width: 600px;
  margin-bottom: 20px;

  overflow: hidden;

  @include screen('md') {
    flex-wrap: nowrap;
  }
}

.searchFormInput {
  display: inline-block;
  width: 100%;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 5px;

  @include font-data(20px, 400, $secondary-color);

  border: 1px solid $secondary-color;
  border-radius: 3px;
  background-color: $white-color;
  outline: none;

  @include screen('md') {
    margin-bottom: 0;
  }
}

.searchFormInput::placeholder {
  font-size: 18px;
  font-style: italic;
}

.searchFormButton {
  display: inline-block;
  width: 100px;
  height: 39px;

  @include font-data(17px, 600, $white-color);

  border: 1px solid $secondary-color;
  border-radius: 3px;
  background-color: $secondary-color;
  cursor: pointer;
  outline: none;

  transition: color 250ms $timing-function;

  &:hover {
    color: $elements-color;
  }
}

.moviesList {
  @include flex-wrap-center;

  margin: -8px;

  @include screen('md') {
    justify-content: start;
  }
}

.movieItem {
  width: 200px;
  margin: 8px;

  border-radius: 5px;
  box-shadow: $box-shadow;
  overflow: hidden;

  transition: transform 250ms $timing-function;

  @include screen('lg') {
    width: 230px;
  }

  &:hover {
    transform: scale(1.03);
    cursor: pointer;
  }
}

.movieTitle {
  height: 66px;
  padding: 10px;
  text-align: center;

  @include font-data(16px, 600, $white-color);

  background-color: $primary-color;
}

.img {
  width: 230px;
  height: 300px;
  object-fit: cover;
}
