@import '../../sass/main.scss';

.link {
  display: inline-block;
  padding: 12px;

  text-decoration: none;
  text-transform: uppercase;

  @include font-data(18px, 700, $elements-color);

  transition: color 250ms $timing-function;

  &:hover {
    color: $secondary-color;
  }
}

.activeLink {
  text-decoration: underline;
  color: $secondary-color;
}
