.link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px;
  font-weight: 700;
  color: #6fe2ec;
  font-size: 18px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: #3a7d87;
  }
}

.activeLink {
  color: #3a7d87;
  text-decoration: underline;
}
